<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0847518090936!2d76.72634830978961!3d10.80482075862658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba869e43f0f473f%3A0x1a53e6dc39a95498!2sIndian%20Institute%20Of%20Technology%E2%80%93Palakkad%20(IIT%E2%80%93Palakkad)!5e0!3m2!1sen!2sin!4v1766055733095!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{{ if and .Site.Params.enableGoogleMaps .Site.Params.googleMapsApiKey }}
  {{ if isset .Site.Params "latitude" }}
    {{ if isset .Site.Params "longitude" }}
        <div class="hidden">
          <input id="gmap-lat" value="{{ .Site.Params.latitude }}" />
          <input id="gmap-lng" value="{{ .Site.Params.longitude }}" />
          <input id="gmap-marker" value="{{ "img/marker.png" | relURL }}" />
          {{ if isset .Site.Params "direction" }}
            <input id="gmap-dir" value="{{ .Site.Params.direction }}" />
          {{ else }}
            <input id="gmap-dir" value="{{ .Site.Params.latitude }},{{ .Site.Params.longitude }}" />
          {{ end }}
        </div>
        <div id="map" />
    {{ end }}
  {{ end }}
{{ end }}
