<section class="bar background-white">
  <div class="container text-center">
    <h2>Supported by</h2>
    <div class="sponsor-logo-container">
      <img class="sponsor-logo" src="img/iitpkd/sponsors/iptif.png">
    </div>

    <h2>Gold Sponsors</h2>
    <div class="sponsor-logo-container">
      <img class="sponsor-logo" src="img/iitpkd/sponsors/c-six.png">
      <img class="sponsor-logo" src="img/iitpkd/sponsors/chemscene.jpg">
    </div>

    <h2>Gift Partners</h2>
    <div class="sponsor-logo-container">
      <img class="sponsor-logo" src="img/iitpkd/sponsors/campbell.png">
      <img class="sponsor-logo" src="img/iitpkd/sponsors/globe.jpg">
      <img class="sponsor-logo" src="img/iitpkd/sponsors/chemind.png">
    </div>
  </div>
</section>
